@black: #191926;
@dark-grey: @black + #191919;
@blue: #3f2d99; 
@med-grey: @black + #555;
@grey: @black + #999;
@highlight: @black + #ccc;
@read: #f9f9f9;
// #efddff;
@border: @highlight;
@tag0: #ff6699;

@padding-left: 10px;
@actions-height: 38px;

@special-text: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;;
@normal-text: Arial, 'Helvetica Neue', Helvetica, sans-serif;;

body {
    margin: 0;
    padding: 0;
    font-size: 11pt;
    font-family: @normal-text;
    font-weight: 300;
    line-height: 1.5em;
    min-height: 600px;
    color: @dark-grey;
    background-color: white;

    /* background gradient code */
    background-image: linear-gradient(bottom, rgb(240,238,246) 3%, rgb(249,243,255) 23%, rgb(255,255,255) 62%);
    background-image: -o-linear-gradient(bottom, rgb(240,238,246) 3%, rgb(249,243,255) 23%, rgb(255,255,255) 62%);
    background-image: -moz-linear-gradient(bottom, rgb(240,238,246) 3%, rgb(249,243,255) 23%, rgb(255,255,255) 62%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,238,246) 3%, rgb(249,243,255) 23%, rgb(255,255,255) 62%);
    background-image: -ms-linear-gradient(bottom, rgb(240,238,246) 3%, rgb(249,243,255) 23%, rgb(255,255,255) 62%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, rgb(240,238,246)),
        color-stop(0.23, rgb(249,243,255)),
        color-stop(0.62, rgb(255,255,255))
    );
    /* end gradient */
}

h1, h2, h3 {
    font-family: @special-text;
    font-weight: 100;
    //letter-spacing: 2px;
    color: @black;
}

a {
    color: @blue + #222;
    text-decoration: underline;

    &:hover {
        color: @blue - #333;
    };
}

.read-false, .unread {
    font-weight: 700;
}

.clearer {
    clear: both;
}

.left {
    float: left;
    margin: 0 10px 10px 0;
}

.right {
    float: right;
    margin: 0 0 10px 10px;
}

#header {
    padding-left: @padding-left;
    margin: 1px 0 0 0;

    h1 {
        font-size: 3em;
        margin-top: 0px;
        padding-top: .4em;
    }

    .settings {
        float: right;

        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline;
                padding: 1px 15px 0 0;
            }
        }
    }
}

#nav {
    width: 170px;
    float: left;
    margin-bottom: 20px;
    text-transform: lowercase;
    font-family: @special-text;

    .new-message-button {
        display: block;
        height: @actions-height - 6px;
        padding: 6px @padding-left 0 @padding-left;
        margin: 0 0 5px 0;
        background: @black;
        border-bottom: 1pt solid @black - #222;
        text-align: center;
        font-size: 1.4em;
        color: white;
        text-transform: lowercase;
        font-family: @special-text;
        font-weight: 400;
    }

    #tag-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        hr {
            border: 0;
            padding: 0;
            margin: 0 0 1px 0;
            background-color: @border;
            height: 1px;
        }
        li {
            padding: 5px 10px 7px 20px;

            &.selected {
                border-left: @padding-left solid @grey;
                padding-left: @padding-left;
                color: @black;
                font-weight: 700;
            }

        }
    }
}
#main {
    margin-left: 195px;

    #thread-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .thread, #actions {
        display: block;
        height: 1.4em;
        padding: 10px 2px 10px 4px;
        background: @read;
        border-bottom: 1pt solid @border;
        margin: 0;

        &.read-false {
            background-color: white;
        }

        &.checked-true {
            background-color: @highlight;
            border-bottom: 1pt solid @highlight - #191919;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        span {
            display: inline-block;
        }

        .tags {
            padding: 0;
            margin: 0;
            float: left;
            li {
                list-style-type: none;
                display: inline;
                background: @tag0;
                height: 100%;
                padding: 2px 5px;
                margin-right: 8px;
                border-radius: 5px;
                text-transform: lowercase;
            }
        }

        .subject {
            float: left;
        }

        .checkbox {
            float: left;
            width: 20px;
            margin: 0 2px 0 0;
        }
        .star {
            float: left;
            margin: -2px 5px 0 2px;
            font-weight: normal;
        }

        .star img, .tagger img {
            height: 1.8em;
            cursor: pointer;
        }

        .tagger img {
            height: 1.4em;
        }

        .authors {
            float: left;
            width: 190px;
        }

        .tagger {
            float: left;
            margin: 0 8px 0 12px;
            cursor: pointer;
        }

        .attachment {
            font-size: 18pt;
            color: #666;
            font-weight: normal;
        }

        .attachment, .timestamp {
            float: right;
            text-align: right;
            width: 30px;
        }
        .timestamp {
            width: 70px;
        }
    }

    #email-footer {
        margin-top: 1em;
        font-size: .9em;
        color: @med-grey;
    }

    #actions {
        background: @grey;
        border-bottom: 1pt solid @grey - #222;
        height: @actions-height;
        margin: 0 0 5px 0;
        padding: 0 0 0 4px;

        a {
            display: inline-block;
            padding: 1px 18px 0 18px;
            background-color: rgba(255,255,255,.2);
            margin: 0 -4px 0 0;

            &:hover {
                background-color: rgba(255,255,255,.8);
            };

            img {
                height: 32px;
            }
        }

        .divider {
            display: inline-block;
            height: 30px;
            width: 1.8em;
        }

        .tag {
        }

        .check-all {
            padding: 10px 0;
            display: block;
            float: left;
            margin: 0;
        }

        .search {
            float: right;
            padding: 2px @padding-left;

            input, button {
                font-family: inherit;
                letter-spacing: .5px;
            }

            input {
                height: @actions-height - 12px;
                margin: 0;
                width: 20em;
                padding: 2px 2px;
                border: 1pt solid @med-grey;
                border-radius: 5px;
            }

            button {
                margin: -2px 0 -5px 2px;
                height: 38px;
                background: none;
                border: none;

                &:hover {
                    background-color: rgba(255,255,255,.8);
                };
            }
        }
    }
}

#footer {
    clear: both;
    margin: 20px 0;
    color: @med-grey;
    font-size: .9em;
}